<div class= "content">
  <p> <%= image_tag collection.image.url, class:"content__image" %></p>
  <div class= "content__name">
  <p><%= collection.name %> </p>
  </div>
  <div class= "content__explanation">
  <p><%= collection.explanation %> </p>
  </div>
</div>