<%= link_to image_tag('logo.png', alt:"positive-learning", class: "service_logo"), '/' %>
<div class="contents row">
  <div class="success">
    <h3>削除が完了しました。</h3>
    <a class="btn" href="/">戻る</a>
  </div>
</div>