<% if user_signed_in? && @user != current_user %>
  
    <% if current_user.following?(@user) %>
      <div id="follow_form_<%= @user.id %>">
        <%= render "unfollow" %>
      </div>
    <% else %>
      <div id="follow_form_<%= @user.id %>">
        <%= render "follow" %>
      </div>
    <% end %>
  
<% end %>