*{
  box-sizing:border-box;
}

body{
  box-sizing:box;
  padding-top: 0px;
}

textarea,input{
  width:190px;
}

.item__form{
  margin:5px 0 0 150px;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  &__label{
    cursor: pointer;
    font-size: 16px;
    border: 1px solid gray;
    padding: 10px;
    margin-top: 25px;
    width: 190px;
    text-align: center;
  }
  &__videoLabel{
    cursor: pointer;
    font-size: 16px;
    border: 1px solid gray;
    padding: 10px;
    margin-top: 25px;
    width: 190px;
    text-align: center;
      &__field{
        height:50px;
        width:190px;
      }
  }
  &__temporary{
    margin-top: 15px;
    width: 190px;
    display: flex;
    &--backBlack{
      margin-right: 5px;
      border: 1px solid gray;
      width: 80px;
      text-align: center;
      color: white;
      background-color: gray;
    }
    &--borderBox{
      border: 1px solid;
      width: 120px;
      text-align: left;
      padding-left: 3px;
    }

  }
  
  select{
    margin: 15px 0;
    width: 160px;
  }
  &__submit{
    margin-top: 10px;
    width: 190px;
  }

  .tag_field{
    padding-top: 10px;
    display: block;
    visibility: visible;
  }
  .label_check_box{
    padding-right: 85px;
  }
  .check_box{
    margin: 0px auto;
    bottom: 1px;
    float: left;

  }
}