* {
  box-sizing: border-box;
}
.items{
  display:flex;
  margin-top: 40px;
  text-align: center;
  max-width: 800px;
  .content{
    margin: 25px 60px 0 0;
    &__image{
      margin-bottom: 5px;
    }
    &__video{
      margin-top: 10px;
    }
    &__name{
      width: 220px;
      margin-bottom:5px;
      border: 1px solid gray;
    }
    &__explanation{
      word-break: normal;
      width:150px;
      margin: 10px 0 5px 30px;
    }
    img{
      height:100px;
      width: 150px;
    }
  }
}
