* {
  box-sizing: border-box;
}

.collections{
  max-width: 800px;
  display:flex;
  margin: 40px 0 0 100px;
  text-align: center;
  flex-wrap: wrap;
  .content{
    margin: 25px 40px 0 0;
    &__image{
      margin-bottom: 5px;
      height:150px;
      width: 150px;
    }
    &__name{
      margin-bottom:5px;
      border: 1px solid gray;
    }
    &__explanation{
      word-break: normal;
      width:150px;
    }
  }
}

