*{
  box-sizing:border-box;
}

.container{
  height:100vh;
  width: 100vw;
  .row{
    padding: 0 20px;
    box-shadow: 1px 1px 3px #333;
    .col-lg-9{
      display:flex;
      padding: 1px 0 0 0;
      flex-direction:row;
      height:60px;
      justify-content: space-between;
      align-items: center;
    }
  }
}
