<h1>ようこそ</h1>
<p>トップページです。</p>
<%= link_to "ログアウト",destroy_user_session_path, method: :delete %>
<%= link_to "ログイン", new_user_session_path, method: :get %>
<%= link_to 'collection投稿', new_collection_path %> 
<%= link_to 'item投稿', new_item_path %>