*{
  box-sizing:border-box;
}

.user_edit_title{
  margin-left: 45%;
}
.edit_user{
  margin-left: 51px;
  .actions{
    margin: 20px 0 0 44%;
  }
 li{
  margin-left: 45%;
 }
}

.user_removal{
  margin-right: 23px;
  h3{
    margin-left: 47%;
  }

  .actions{
    margin: 20px 0 0 45.5%;
  }

  .back{  
    margin: 20px 0 0 50%;
  }
  .button_to{
    margin-left: 3px;
  }
}