.service_logo{
  padding-left:42%;
  padding-top:3%;
}

.sign_in_up{
  margin-left: 44%;
  padding-top:1%;
}

.clilkHere{
  text-decoration:none;
  padding-left: 10px;
}

.field{
  margin-left: 44%;
  padding-top: 15px;
  .check_box{
    width: 50px;
  }
}


.sign{
  margin-left: 44%;
  background-color: #ffcce6;
  width: 190px;
  margin-top: 15px;
  border-radius: 5px;
  border-style: none;
}

.guest_sign_in{
  margin-left: 44%;
  background-color: #77FFFF;
  width: 190px;
  margin-top: 15px;
  border-radius: 5px;
  border-style: none;
  text-align: center;
  color: black;
}
