*{
  box-sizing:border-box;
}

h2{
  margin-left: 47%;
}
.edit_user{
  .actions{
    margin: 20px 0 0 46%;
  }
 li{
  margin-left: 45%;
 }
}

.user_removal{

  h3{
    margin-left: 47%;
  }

  .actions{
    margin: 20px 0 0 46%;
  }

  .back{  
    margin: 20px 0 0 50%;
  }
}