.service_logo{
  padding-left:43%;
  padding-top:3%;
}

.sign_in_up{
  margin-left: 46%;
  padding-top:1%;
  
}

a{
  text-decoration:none;
  padding-left: 10px;
}

.field{
  margin-left: 46%;
  padding-top: 15px;
}


.sign{
  margin-left: 46%;
  background-color: #ffcce6;
  width: 190px;
  margin-top: 15px;
  border-radius: 5px;
  border-style: none;
}