<div class= "content">
  <p> <%= image_tag item.image.url, class:"content__image" %> </p>
  <p> <%= video_tag item.video.url, class:"content__video" %> </p>
  <div class= "content__name">
  <p><%= item.title %> </p>
  </div>
  <div class= "content__explanation">
  <p><%= item.explanation %> </p>
  </div>
</div>